html, body, mat-sidenav-container {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
  }
  
  .parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }
  
  
  mat-toolbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  mat-side-nav {
    width: 20%;
    overflow-y: scroll;
    display: flex!important;
    align-items: center;
    flex-direction: column;
  }
  
  .mat-drawer-inner-container {
    display: flex!important;
    align-items: center;
    flex-direction: column;
  }
  
  .nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
  }
  
  .inner-nav-container {
    margin: auto;
  }
  
  mat-icon {
    margin-right: 8px;
  }
  
  mat-nav-list a {
    display: block;
    box-sizing: border-box;
    padding-left: 30px;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
  }
  
  mat-nav-list a:hover {
    background-color: #f5f5f5;
  }
  
  .sidenav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  
  mat-sidenav-content {
    height: 100%;
  }
  
  h2{
    text-align: center;
  }
  
  
  @media only screen and (max-height: 700px) {
    .nav-container {
      justify-content: flex-start;
    }
  }