<div class="about-container">
    <mat-card class="about-card">
      <mat-card-header>
        <mat-card-title>Welcome to the Canteen Panel App</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>This application is designed to help the canteen staff manage the flow of orders efficiently. It provides a user-friendly interface for tracking orders, generating statistics, and managing the menu.</p>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="about-card">
      <mat-card-header>
        <mat-card-title>How it Works</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Orders can be created, updated and deleted in real time. As soon as an order is placed, it appears on the order dashboard, providing the staff with instant information about the order details and status.</p>
        <p>Staff can also manage the food and meal menus, and view comprehensive statistics about orders, such as the average delivery time, arrival rate and distribution, and the number of orders for each time period.</p>
      </mat-card-content>
    </mat-card>
  </div>
  