<form [formGroup]="form">
    <h2 mat-dialog-title>{{ data.food ? 'Editează mâncare' : 'Adaugă mâncarea' }}</h2>
    <mat-dialog-content>
      <mat-form-field>
        <mat-label>Nume</mat-label>
        <input matInput formControlName="Name">
        <mat-error *ngIf="form.get('Name')!.invalid && form.get('Name')!.touched">
            Vă rugăm să introduceți un nume valid
          </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Preț</mat-label>
        <input matInput formControlName="Price" type="number">
        <mat-error *ngIf="form.get('Price')!.invalid && form.get('Price')!.touched">
            Vă rugăm să introduceți un preț valid
          </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Food Type</mat-label>
        <mat-select formControlName="FoodTypeId">
          <mat-option *ngFor="let foodType of data.foodTypes" [value]="+foodType.Id">
            {{ getFoodName(foodType.Id) }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Anulează</button>
      <button mat-button [disabled]="form.invalid" [mat-dialog-close]="form.value">OK</button>
    </mat-dialog-actions>
  </form>
  